<% memos.each do |memo| %>
  <div class="card mx-4 my-3" id=<%= memo.id %> style="width: 20rem;">
    <div class="card-body overflow-scroll" style="height: 300px">
      <h5 class="card-title shadow ms-2">
        <%= memo.title %>
      </h5>
      <div class="d-flex justify-content-between">
        <h6 class="pt-2">
          <%= memo.created_at %>
        </h6>
        <%= link_to memo_path(memo), method: :delete do %>
          <i class="bi bi-trash" style="font-size:20px"></i>
        <% end %>
      </div>
      <p class="card-text overflow-scroll">
        <%= memo.content %>
      </p>
    </div>
  </div>
<% end %>