<div class="wrapper d-flex">

  <div class="sidebar bg-light col-2">

    <div class="sidebar-header shadow d-flex align-items-center">

      <i class="bi bi-journal-text mx-2" style="font-size:24px">MemoApp</i>

    </div>
    <div class="memos-folder overflow-scroll">

      <div class="memo-folder pt-4 ms-2">

        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
      
      </div>

    </div>
    <div class="sidebar-footer d-flex justify-content-between align-items-center">

      <%= link_to "#" do %>
        <i class="bi bi-door-closed ms-2" style="font-size:20px"></i>
      <% end %>
      <%= link_to "#", class: "text-decoration-none" do %>
        <i class="bi bi-plus-circle me-1">新規フォルダー</i>
      <% end %>

    </div>

  </div>

  <div class="memos-list bg-white col-3">

    <div class="list-header">
      削除アイコン
    </div>
    <div class="list">
      リスト
    </div>

  </div>

  <div class="main bg-white col-7">

    <div class="main-header">
      新規作成アイコン
    </div>
    <div class="main-text">
      テキスト
    </div>
  
  </div>

</div>