<div class="wrapper d-flex">

  <div class="sidebar bg-light col-2">

    <div class="sidebar-header shadow d-flex align-items-center">

      <i class="bi bi-journal-text mx-2" style="font-size:24px">MemoApp</i>

    </div>
    <div class="memos-folder overflow-scroll">

      <div class="memo-folder pt-4 ms-2">

        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
      
      </div>

    </div>
    <div class="sidebar-footer d-flex justify-content-between align-items-center">

      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="bi bi-door-closed ms-2" style="font-size:20px"></i>
      <% end %>
      <%= link_to "#", class: "text-decoration-none" do %>
        <i class="bi bi-plus-circle me-1">新規フォルダー</i>
      <% end %>

    </div>

  </div>

  <div class="main bg-white col-10">

    <div class="main-header border-start d-flex justify-content-start align-items-center">

      <%= link_to "#" do %>
        <i class="bi bi-trash ms-3" style="font-size:20px"></i>
      <% end %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-pencil-square" style="font-size:20px"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">新規メモ</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%= form_with model: @memo, id: "form" do |f| %>
              <div class="modal-body">
                <div class="form-group">
                  <%= f.label :title, "タイトル" %>
                  <%= f.text_field :title, class: "form-control", id: "title" %>
                </div>
                <div class="form-group">
                  <%= f.label :content, "テキスト" %>
                  <%= f.text_area :content, class: "form-control", id: "content" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <%= f.submit "作成する", class: "btn btn-primary", id: "submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= link_to "#", id: "add-memo" do %>
        
      <% end %>

    </div>
    <div class="main-text memos d-flex flex-wrap justify-content-between aline-items-center overflow-scroll", id="list">
        <%= render 'memos', memos: @memos%>
    </div>

  </div>

</div>