<div class="wrapper d-flex">

  <div class="sidebar bg-light col-2">

    <div class="sidebar-header shadow d-flex align-items-center">

      <i class="bi bi-journal-text mx-2" style="font-size:24px">MemoApp</i>

    </div>
    <div class="memos-folder overflow-scroll">

      <div class="memo-folder pt-4 ms-2">

        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
      
      </div>

    </div>
    <div class="sidebar-footer d-flex justify-content-between align-items-center">

      <%= link_to "#" do %>
        <i class="bi bi-door-closed ms-2" style="font-size:20px"></i>
      <% end %>
      <%= link_to "#", class: "text-decoration-none" do %>
        <i class="bi bi-plus-circle me-1">新規フォルダー</i>
      <% end %>

    </div>

  </div>

  <div class="memos-list bg-white col-3">

    <div class="list-header d-flex justify-content-end align-items-center">

      <%= link_to "#" do %>
        <i class="bi bi-trash me-3" style="font-size:20px"></i>
      <% end %>

    </div>
    <div class="list overflow-scroll">

      <div class="list-group">

        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="list-group-item list-group-item-action rounded">
            <div>
              タイトル
            </div>
            <div class="d-flex">
              <div>
                作成日
              </div>
              <div class="ms-2">
                テキスト
              </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>

  </div>

  <div class="main bg-white col-7">

    <div class="main-header border-start d-flex justify-content-start align-items-center">

      <%= link_to "#" do %>
        <i class="bi bi-pencil-square ms-3" style="font-size:20px"></i>
      <% end %>

    </div>
    <div class="main-text">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
    </div>

  </div>

</div>